* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --home: #fca311;
    --board: #14213d;
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
}

#won {
    text-align: center;
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: blue;
    z-index: -1;

}

#title {
    position: absolute;
    display: block;
    width: 100%;
    background-color: red;
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(105deg, red, green, blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@media (max-width:500px) {
    #title {
        font-size: 23px;
    }
}

.container {
    margin-top: 30px;
    width: 500px;
    height: 450px;
    background-color: var(--board);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    border-radius: 20px;
}

.row {
    height: 80px;
    display: flex;
    column-gap: 5px;
    justify-content: space-around;
    align-items: center;
}

.first {
    margin-top: 40px;
}

.col {
    width: 50px;
    height: 50px;
    background-color: var(--home);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    flex-wrap: wrap;
}

.col img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0px;
    left: -3px;
    z-index: -1;
}

#control {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-color: white;
    margin-top: 30px;

}

#control:hover {
    background-color: red;
    border-color: red;
    box-shadow: 0 0 20px 3px red;
}

.btn-style {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-color: white;
    margin-top: 30px;
}

.btn-container {
    display: flex;
    justify-content: space-around;

}

.btn-style:hover {
    background-color: red;
    border-color: red;
    box-shadow: 0 0 20px 3px red;
}